@import "tailwindcss";

@font-face {
  font-family: 'Zuumerough-Bold';
  src: url('/fonts/fontspring-demo-zuumerough-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Zuumerough-Bold-Italic';
  src: url('/fonts/fontspring-demo-zuumerough-bolditalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Zuumerough-Italic';
  src: url('/fonts/fontspring-demo-zuumerough-italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Zuumerough-Regular';
  src: url('/fonts/fontspring-demo-zuumerough-regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

.contenedor{
   background-image: url('/fondo.png') ;
  background-size: cover; 
}

.contenedor-izquierdo::-webkit-scrollbar,.contenedor-derecho::-webkit-scrollbar {
  display: none;          /* ancho del scroll vertical */
}
/* Para Firefox */
.contenedor-izquierdo,.contenedor-derecho {
  overflow-y: auto;       /* Habilita el scroll vertical */
  scrollbar-width: none;  /* Firefox */
  -ms-overflow-style: none;
}

.link-category{
    font-family: 'Zuumerough-Bold';
    font-size: 1.7rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;

}
.link-category:hover {
    background-color: rgba(44, 118, 0, 0.5);
}

.contenedor-derecho{
    text-transform: uppercase;
}
.contenedor-derecho h1{
        color: #ff4500;
        font-size: 4.5rem;
        letter-spacing: 0.1em;
        font-family: 'Zuumerough-Bold';
    }

.card-producto{    
    color: #ffffff;
    text-align: center;    
    display: flex;            /* activa Flexbox */
    flex-direction: column;   /* organiza hijos en columna */
    justify-content: center;  /* centra verticalmente */
    align-items: center;
    //box-shadow: 0 -4px 8px rgba(44, 118, 0, 0.9);
}

.detalle-producto{
  line-height: 1;
  color: #ffffff;
    text-align: center;       /* centra texto dentro de elementos inline o block */
    font-family: 'Zuumerough-Bold';
}

.detalle-producto h3{  
  color: #ffffff;
    text-align: center;       /* centra texto dentro de elementos inline o block */
    font-family: 'Zuumerough-Bold';
    font-size: 2.5rem;
    letter-spacing: 0.05em;
}

.detalle-producto p{  
  color: #ffffff;
    text-align: center;       /* centra texto dentro de elementos inline o block */
    font-family: 'Zuumerough-Bold';
    font-size: 1.5rem;
    letter-spacing: 0.05em;
}

.parrafo-precio{
  color: #ffffff;
    font-family: sans-serif !important;
    font-style: normal;
    font-weight: bold
}
@media (max-width: 412px) {
  .logo{
    width: 100px;
    height:100px;
  }
  .contenedor{
    display:flex;
  }
  .contenedor-izquierdo {
    width: 30%;       /* ancho del sidebar en desktop */
    flex-shrink: 0;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
  }
  
  .link-category{
    font-family: 'Zuumerough-Bold';
    font-size: 0.7rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    gap: 0.7rem;
    padding: 0 0 0.2rem 0.5rem;
}

.contenedor-derecho{
    width: 70%;
    gap:1rem
  }
  .headTitle{
    margin:0.5rem;
    display:block;
    text-align: center;
  }
 .headIdioma{
  width:8rem;
   span{
    font-size:10px;
   }
   select{
    font-size:10px;
   }
 }

  .contenedor-derecho h1{
        color: #ff4500;
        font-size: 2rem;
        letter-spacing: 0.1em;
        font-family: 'Zuumerough-Bold';
    }

.card-producto{    
    color: #ffffff;
    text-align: center;    
    display: flex;            /* activa Flexbox */
    flex-direction: column;   /* organiza hijos en columna */
    justify-content: center;  /* centra verticalmente */
    align-items: center; 

    img{
      width:100%;
      height:100px;
    }
    //box-shadow: 0 -4px 8px rgba(44, 118, 0, 0.9);
}

.detalle-producto{
  line-height: 1;
  color: #ffffff;
    text-align: center;       /* centra texto dentro de elementos inline o block */
    font-family: 'Zuumerough-Bold';
}

.detalle-producto h3{  
  color: #ffffff;
    text-align: center;       /* centra texto dentro de elementos inline o block */
    font-family: 'Zuumerough-Bold';
    font-size: 1rem;
    letter-spacing: 0.03em;
}

.detalle-producto p{  
  color: #ffffff;
    text-align: center;       /* centra texto dentro de elementos inline o block */
    font-family: 'Zuumerough-Bold';
    font-size: 0.5rem;
    letter-spacing: 0.03em;
}

.parrafo-precio{
  color: #ffffff;
    font-family: sans-serif !important;
    font-style: normal;
    font-weight: bold
}

}

